# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=salas_ufba_auth

# auth-service
JWT_SECRET=
JWT_EXPIRES_IN=1d
AUTH_SERVICE_URL=http://auth-service:3002

# api-gateway
ALLOWED_ORIGINS=http://localhost:3000

# rooms-service
MONGODB_URI=mongodb://mongo:27017/db_rooms

# bff e auth-service
# JWT_SECRET: mesma do auth-service, já declarada acima
# ROOMS_SERVICE_URL: usada pelo bff e pelo auth-service (institutes.service.ts) para chamar o rooms-service
ROOMS_SERVICE_URL=http://rooms-service:3003

# web
NEXT_PUBLIC_BFF_URL=http://localhost:8000

# URL interna do Docker usada pelas API Routes do Next.js (rodam no servidor/container) para chamar o BFF
BFF_INTERNAL_URL=http://bff:8000

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
