# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=salas_ufba_auth

# auth-service
JWT_SECRET=
JWT_EXPIRES_IN=1d
AUTH_SERVICE_URL=http://auth-service:3002

# api-gateway
ALLOWED_ORIGINS=http://localhost:3000

# bff
# JWT_SECRET — mesma do auth-service, já declarada acima

# web
NEXT_PUBLIC_BFF_URL=http://localhost:8000
